<footer class="footer">
    <div class="text-center valign-center">
        <span class="text-muted">A project by <a href="https://github.com/ocelotsloth">Mark Stenglein</a> & <a href="https://github.com/bruno207">David Haynes</a> @HackUMBC 2016. | Check out the<a href="https://github.com/ocelotsloth/flopstream"> source code</a>!</span>
    </div>
</footer>
