extends layout

block content

    // Header
    div.page-header#banner
        div.row
            div.col-md-12
                h1
                    strong
                        span.fa.fa-stack.fa-lg
                            i.fa.fa-circle.fa-stack-2x
                            i.fa.fa-music.fa-stack-1x.fa-inverse
                        i.fa (MIDI-Conducted) Floppy Drive Orchestra Recording Service

    if config.onePage.stepOne
        // Step 1
        div.col-md-8
            h3 Step 1: Upload your MIDI File.
            legend
            form(ref='uploadForm' id='uploadForm' action='/upload' method='post' encType="multipart/form-data")
                <label class="btn btn-primary" for="sampleFile">
                    <input id="sampleFile" name="sampleFile" type="file" style="display:none;" onchange="$('#upload-file-info').html($(this).val());"> Browse for MIDI file.
                </label>
                <span class='label label-info' id="upload-file-info" style="background-color: lightseagreen;"></span>
                <br></br>
                label.btn.btn-default.btn-file#upload Upload MIDI File!
                    input(type="submit" style="display: none;")

    if config.onePage.stepTwo
        // Step 2
        div.col-md-8
            br
            h3 Step 2: Please wait a bit while your request is processed.
            legend
            div.progress
                div(class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width:0%")
            div(class="alert alert-success" style="display: none;" role="alert") Loading completed!
            br
            form(ref='uploadForm2' id='uploadForm2' action='/upload2' method='post' encType="multipart/form-data")
                label.btn.btn-default(style="display: none;")#upload2 Get your Link!
                    input(type="submit" style="display: none;")
            script(src="/javascripts/stepTwo.js")

    if config.onePage.stepThree
        // Step 3
        div.col-md-8
            h3 Step 3: Get a link to the upload!
            legend
            <input type="text" class="form-control" placeholder="Text input">
