//-/////////////////////////////////////////////////////////////////////////////
//-                     Mason SRCT: Schedules Main Page
//- - This page is the main application page.
//- - Extends the layout.pug file
//-/////////////////////////////////////////////////////////////////////////////
extends layout
