nav.navbar.navbar-inverse.navbar-fixed-top
  div.container-fluid
    div.navbar-header
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
        span.icon-
    a(class="navbar-brand" href="/")
        i.fa.fa-music.fa-inverse  flopstream
    div.navbar-collapse.collapse.navbar-collapse
      ul.nav.navbar-nav.navbar-right
        li
          a(href='#') About 
            fa.fa.fa-question-circle
