//-/////////////////////////////////////////////////////////////////////////////
//-                     Mason SRCT: Schedules Navbar
//- - This include file is for the nav bar
//-/////////////////////////////////////////////////////////////////////////////
nav.navbar.navbar-default.navbar-fixed-top
  div.container-fluid
    div.navbar-header
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
        span.icon-
    <a class="navbar-brand" href="/"><i class="fa fa-music fa-inverse"> flopstream</i></a>
    div.navbar-collapse.collapse.navbar-collapse
      ul.nav.navbar-nav.navbar-right
        li
          a(href='#')
            fa.fa.fa-question-circle  About
