// Custom Sass entries go here and will be loaded after bootstrap

// Add center class for divs and the text within
.center-text {
    text-align: center;
}

html, body {
  height: 100%;
}

#focusedInput {
    border-color: rgba(82,168,236,.8);
    outline: 0;
    outline: thin dotted \9;
    -moz-box-shadow: 0 0 8px rgba(82,168,236,.6);
    box-shadow: 0 0 8px rgba(82,168,236,.6);
}
