var config = {}

config.onePage = {
    'stepOne': true,
    'stepTwo': false,
    'stepThree': false
}

config.url = "";

config.setURL = function(inputURL) {
    config.url = inputURL;
}

config.saveLocation = "/path/to/file/location";

module.exports = config;
